DOCKER_IMAGE=DOCKER_USERNAME/buddys-server:latest

DB_URL=jdbc:mysql://RDS_ENDPOINT:3306/buddys_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=RDS_USERNAME
DB_PASSWORD=RDS_PASSWORD

JWT_SECRET=JWT_SECRET_VALUE

KAKAO_REST_API_KEY=KAKAO_REST_API_KEY
KAKAO_CLIENT_SECRET=KAKAO_CLIENT_SECRET
KAKAO_REDIRECT_URL=https://YOUR_DOMAIN/api/v1/auth/kakao/callback

CORS_ALLOWED_ORIGINS=https://FRONTEND_DOMAIN

AWS_S3_BUCKET=AWS_S3_BUCKET_NAME
AWS_S3_REGION=AWS_S3_REGION

GRAFANA_ADMIN_USER=GRAFANA_USERNAME
GRAFANA_ADMIN_PASSWORD=GRAFANA_PASSWORD
